.flex-wrapper {
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 40vh;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: indigo;
  margin-top: 2rem;
  border-radius: 1.5rem;
  box-shadow: 5px 4px;
  border: 1px solid inherit;
  box-sizing: border-box;
}

.big-heading {
  font-size: clamp(1rem, 6rem, 8rem);
  margin-bottom: 0px;
}

.big-heading-blue {
  color: orangered;
  font-size: 10rem;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: red;
  /* color: inherit; */
  transition: all 0.5s;
}

.stroke span {
  color: greenyellow;
}
.sale {
  color: red;
}
.stroke:hover {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: goldenrod;
  color: inherit;
  transition: all 1s;
}

.img-box {
  position: relative;
  width: 40%;
  height: 100%;
  right: 5rem;

  /* margin-top: 2rem; */
}

.shoppingBasket {
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 270px;
}

.gradient {
  position: absolute;
  width: 55%;
  object-fit: contain;
  top: 7rem;
  right: 0rem;
  min-width: 200px;
}

@media only screen and (max-width: 1200px) {
  .big-heading {
    font-size: 5rem;
  }

  .img-box {
    width: 50%;
  }

  .gradient {
    top: 6rem;
    min-width: 150px;
  }
  .shoppingBasket {
    min-width: 200px;
  }
}
@media only screen and (max-width: 600px) {
  .gradient {
    top: 4rem;
    min-width: 200px;
    max-width: 250px;
    margin-top: 0rem;
    font-size: clamp(12px, 1.5rem, 20px);
  }
  .flex-wrapper {
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: flex-start;
    height: 32rem;

    align-items: center;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 800px) {
  .heading-container {
    width: 100%;
    text-align: center;
  }

  .flex-wrapper {
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: flex-start;
    min-height: 70%;
    align-items: center;
    height: 32rem;
  }

  .img-box {
    width: 100%;
    margin: auto;
    margin-left: 3rem;
  }

  .gradient {
    top: 4rem;
    min-width: 200px;
    max-width: 300px;
    margin-top: 0rem;
    padding-bottom: 3rem;
    max-height: 500px;
  }

  .shoppingBasket {
    max-width: 300px;
  }
}
