.field-label {
  font-weight: 800;
  display: flex;
  margin: 10px;
}
.profile-container {
  max-width: 70%;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgb(0 0 0 / 15%);
  border-radius: 8px;
  margin: 3rem auto;
  padding: 20px;
  box-sizing: border-box;
}
.btn-container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;

  max-width: 100%;
}
.btn-container button {
  background: greenyellow;
  border-radius: 8px;
  width: 30%;

  height: 2rem;
  color: white;
  padding: 10px 20px;
  margin: 0.3rem;
  font-size: clamp(13px, 1.2vw, 22px);
  text-transform: none;
}
.btn-container button:hover {
  color: red;
  background: #4943da;
}
.upload-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
 

.logo-img {
  background-size: cover;
  background-position: center;
  width: clamp(80px, 5vw, 150px);
  height: clamp(80px, 5vh, 150px);
}

.logo-img:hover {
  background-size: 120%;
  transition: background-size 1s ease;
}
@media screen and (max-width: 768px) {
  .btn-container {
    position: sticky;
    bottom: 0px;
    background: #fff;
    z-index: 2;
    padding: 10px 0px;
    margin: unset;
  }
  .btn-container button {
    width: 100%;
  }
}
